
{% extends 'MetaModel/base.html' %}
{%block maindiv%} 

           
              <!-- ABOUT start -->
              <section id="about">
                <div class="container ">
                     <div class="row">
      
                          <div class="col-md-6 col-sm-6">
                               <div class="about-info">
                                    <h2 class="wow fadeInUp" data-wow-delay="0.6s">Welcome to Your <i class="fa fa-h-square"></i>ealth Center</h2>
                                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                                         <p class="text-light">Aenean luctus lobortis tellus, vel ornare enim molestie condimentum. Curabitur lacinia nisi vitae velit volutpat venenatis.</p>
                                         <p class="text-light">Sed a dignissim lacus. Quisque fermentum est non orci commodo, a luctus urna mattis. Ut placerat, diam a tempus vehicula.</p>
                                    </div>
                                    <figure class="profile wow fadeInUp" data-wow-delay="1s">
                                         <img src="/static/MetaModel/img/author-image.jpg" class="img-responsive" alt="">
                                         <figcaption>
                                              <h3 class="text-dark">Dr. Neil Jackson</h3>
                                              <p class="text-light">General Principal</p>
                                         </figcaption>
                                    </figure>
                               </div>
                          </div>
                          
                     </div>
                </div>
              </section>
              <!-- ABOUT End -->
      
              <!-- METAVERS-1 Start -->
              <div class="container-fluid py-5">
                <div class="container bg-white">
                <div class="d-flex justify-content-center">
                     <div class="section-title">
                     <h4 class="text-primary text-uppercase d-flex  justify-content-center" style="letter-spacing: 5px;">Metaverse</h4>
                     <h1 class="display-4 d-flex  justify-content-center">MetaHealth</h1>
                     </div>
                </div>
                <div class="row">
                     <div class="col-lg-4 py-0 py-lg-5">
                          <h2 class="mb-3">Our Story</h2>
                          <h5 class="mb-3">Eos kasd eos dolor vero vero, lorem stet diam rebum. Ipsum amet sed vero dolor sea</h5>
                          <p>Takimata sed vero vero no sit sed, justo clita duo no duo amet et, nonumy kasd sed dolor eos diam lorem eirmod. Amet sit amet amet no. Est nonumy sed labore eirmod sit magna. Erat at est justo sit ut. Labor diam sed ipsum et eirmod</p>
                          <a href="" class="btn btn-secondary font-weight-bold py-2 px-4 mt-2">Learn More</a>
                     </div>
                     <div class="col-lg-4 py-5 py-lg-0" style="min-height: 100px;">
                          <div class="position-relative h-100">
                               <img class="position-absolute w-100 h-100" src="/static/MetaModel/img/about.jpg" style="object-fit: cover;">
                          </div>
                     </div>
                     <div class="col-lg-4 py-0 py-lg-5">
                          <h2 class="mb-3">Our Vision</h2>
                          <p>Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est dolor</p>
                          <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Lorem ipsum dolor sit amet</h5>
                          <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Lorem ipsum dolor sit amet</h5>
                          <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Lorem ipsum dolor sit amet</h5>
                          <a href="" class="btn btn-primary font-weight-bold py-2 px-4 mt-2">Learn More</a>
                     </div>
                </div>
                </div>
              </div>
              <!-- METAVERS-1 End -->
{% endblock %}