
{% extends 'MetaModel/base.html' %}
{%block maindiv%} 

              <!-- slider start -->
              <section id="home" class="slider" data-stellar-background-ratio="0.5">
                
                <div class="row">
      
                     <div class="owl-carousel owl-theme">
                          <div class="item item-first">
                               <div class="caption">
                                    <div class="col-md-offset-1 col-md-10">
                                         <h3>Let's make your life happier</h3>
                                         <h1>Healthy Living</h1>
                                         <a href="#team" class="section-btn btn btn-default smoothScroll">Meet Our Doctors</a>
                                    </div>
                               </div>
                          </div>
      
                          <div class="item item-second">
                               <div class="caption">
                                    <div class="col-md-offset-1 col-md-10">
                                         <h3>Aenean luctus lobortis tellus</h3>
                                         <h1>New Lifestyle</h1>
                                         <a href="#about" class="section-btn btn btn-default btn-gray smoothScroll">More About Us</a>
                                    </div>
                               </div>
                          </div>
      
                          <div class="item item-third">
                               <div class="caption">
                                    <div class="col-md-offset-1 col-md-10">
                                         <h3>Pellentesque nec libero nisi</h3>
                                         <h1>Your Health Benefits</h1>
                                         <a href="#news" class="section-btn btn btn-default btn-blue smoothScroll">Read Stories</a>
                                    </div>
                               </div>
                          </div>
                     </div>
      
                </div>
      
              </section>
              <!-- slider End -->
      
              <!-- Category start -->
              <section id="news-detail" data-stellar-background-ratio="0.5">
                <div class="container bg-white ">
                     <div class="row">
      
                          <div class="col-md-12 col-sm-7">
                               <!-- NEWS THUMB -->
                               <div class="row">
                                    <h4>Categories</h4>
                               </div>
                               <div class="news-detail-thumb">
                                    <div class="news-image">
                                         <img src="/static/MetaModel/img/news-image3.jpg" class="img-responsive" alt="">
                                    </div>
                                    <h3>Review Annual Medical Research</h3>
                                    <p>Aenean molestie porttitor lorem sed semper. Aliquam semper iaculis libero, eu finibus ex euismod at. In molestie justo ut egestas porttitor. Phasellus interdum erat eu lectus condimentum euismod. Sed pellentesque fringilla diam vitae congue. Ut rutrum diam nisi, in maximus felis vulputate vitae.</p>
                                    <blockquote>Vestibulum gravida rutrum est non volutpat. Morbi imperdiet odio ut tempor vestibulum. Mauris tincidunt vehicula nibh, sodales vehicula erat imperdiet ut.</blockquote>
                                    <p>Maecenas eu lorem gravida nisi aliquam porta. Etiam eu tellus enim. Vivamus ligula ex, iaculis a sodales et, placerat eget neque. In porttitor tortor in purus commodo lobortis. Nullam ornare quam ac turpis luctus, commodo facilisis nisi venenatis. Cras a posuere risus.</p>
                                    
                                    <ul>
                                         <li>Phasellus posuere nisi eleifend, vestibulum ipsum eleifend</li>
                                         <li>Nulla sapien neque, posuere vitae porta eu</li>
                                         <li>Fusce quis enim vel libero pulvinar gravida sed eu justo</li>
                                    </ul>
      
                                    <p>Nunc eget ex sed nisl rhoncus lacinia. Vestibulum porta lectus at est placerat, nec commodo purus dignissim. Suspendisse ac quam in metus laoreet auctor ac quis enim.</p>
      
                               </div>
                               <div class="news-categories">
                                    <h4>Categories</h4>
                                         <li><a href="#"><i class="fa fa-angle-right"></i> Dental</a></li>
                                         <li><a href="#"><i class="fa fa-angle-right"></i> Cardiology</a></li>
                                         <li><a href="#"><i class="fa fa-angle-right"></i> Health</a></li>
                                         <li><a href="#"><i class="fa fa-angle-right"></i> Consultant</a></li>
                               </div>
                          </div>
      
                     </div>
                </div>
              </section>
              <!-- category End -->
           
              <!-- ABOUT start -->
              <section id="about">
                <div class="container ">
                     <div class="row">
      
                          <div class="col-md-6 col-sm-6">
                               <div class="about-info">
                                    <h2 class="wow fadeInUp" data-wow-delay="0.6s">Welcome to Your <i class="fa fa-h-square"></i>ealth Center</h2>
                                    <div class="wow fadeInUp" data-wow-delay="0.8s">
                                         <p class="text-light">Aenean luctus lobortis tellus, vel ornare enim molestie condimentum. Curabitur lacinia nisi vitae velit volutpat venenatis.</p>
                                         <p class="text-light">Sed a dignissim lacus. Quisque fermentum est non orci commodo, a luctus urna mattis. Ut placerat, diam a tempus vehicula.</p>
                                    </div>
                                    <figure class="profile wow fadeInUp" data-wow-delay="1s">
                                         <img src="/static/MetaModel/img/author-image.jpg" class="img-responsive" alt="">
                                         <figcaption>
                                              <h3 class="text-dark">Dr. Neil Jackson</h3>
                                              <p class="text-light">General Principal</p>
                                         </figcaption>
                                    </figure>
                               </div>
                          </div>
                          
                     </div>
                </div>
              </section>
              <!-- ABOUT End -->
      
              <!-- METAVERS-1 Start -->
              <div class="container-fluid py-5">
                <div class="container bg-white">
                <div class="d-flex justify-content-center">
                     <div class="section-title">
                     <h4 class="text-primary text-uppercase d-flex  justify-content-center" style="letter-spacing: 5px;">Metaverse</h4>
                     <h1 class="display-4 d-flex  justify-content-center">MetaHealth</h1>
                     </div>
                </div>
                <div class="row">
                     <div class="col-lg-4 py-0 py-lg-5">
                          <h2 class="mb-3">Our Story</h2>
                          <h5 class="mb-3">Eos kasd eos dolor vero vero, lorem stet diam rebum. Ipsum amet sed vero dolor sea</h5>
                          <p>Takimata sed vero vero no sit sed, justo clita duo no duo amet et, nonumy kasd sed dolor eos diam lorem eirmod. Amet sit amet amet no. Est nonumy sed labore eirmod sit magna. Erat at est justo sit ut. Labor diam sed ipsum et eirmod</p>
                          <a href="" class="btn btn-secondary font-weight-bold py-2 px-4 mt-2">Learn More</a>
                     </div>
                     <div class="col-lg-4 py-5 py-lg-0" style="min-height: 100px;">
                          <div class="position-relative h-100">
                               <img class="position-absolute w-100 h-100" src="/static/MetaModel/img/about.jpg" style="object-fit: cover;">
                          </div>
                     </div>
                     <div class="col-lg-4 py-0 py-lg-5">
                          <h2 class="mb-3">Our Vision</h2>
                          <p>Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est dolor</p>
                          <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Lorem ipsum dolor sit amet</h5>
                          <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Lorem ipsum dolor sit amet</h5>
                          <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Lorem ipsum dolor sit amet</h5>
                          <a href="" class="btn btn-primary font-weight-bold py-2 px-4 mt-2">Learn More</a>
                     </div>
                </div>
                </div>
              </div>
              <!-- METAVERS-1 End -->
      
              <!-- metavers-2 Start -->
              <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="container bg-white">
                <div class="row g-5">
                     <div class="col-lg-7">
                          <div class="section-title mb-4">
                               <h5 class="position-relative d-inline-block text-primary text-uppercase">metaverse</h5>
                               <h1 class="display-5 mb-0">The World's Best Clinic That You Can Trust</h1>
                          </div>
                          <h4 class="text-body fst-italic mb-4">Diam dolor diam ipsum sit. Clita erat ipsum et lorem stet no lorem sit clita duo justo magna dolore</h4>
                          <p class="mb-4">In science fiction, the "metaverse" is a hypothetical iteration of the Internet as a single, universal, and immersive virtual
                               world that is facilitated by the use of virtual reality (VR) and augmented reality (AR) headsets.[1][2] In colloquial usage, a "metaverse"
                               is a network of 3D virtual worlds focused on social connection</p>
                          <p class="mb-4">The term "metaverse" originated in the 1992 science fiction novel Snow Crash as a portmanteau of "meta" and "universe".
                               [5][6] Metaverse development is often linked to advancing virtual reality technology due to the increasing demands for immersion.
                               [7][8][9] Recent interest in metaverse development is influenced by Web3,[10][11] a concept for a decentralized iteration of the internet.
                               Web3 and metaverse have been used as buzzwords[1][12] to exaggerate the development progress of various related technologies and projects for public relations purposes.
                               [13] Information privacy, user addiction, and user safety are concerns within the metaverse, stemming from challenges facing the social media and video game industries as a whole</p> 
                          </div>
                     <div class="col-lg-5" style="min-height: 500px;">
                          <div class="position-relative h-100">
                               <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="/static/MetaModel/img/about1.jpg" style="object-fit: cover;">
                          </div>
                     </div>
                </div>
                </div>
              </div>
              <!-- metavers-2 End  -->
      
              <!-- NFT Start -->
              <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="container bg-white">
                <div class="row g-5">
                     <div class="col-lg-6" style="min-height: 100px;">
                          <div class="position-relative h-100">
                               <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="/static/MetaModel/img/NFT.jpeg" style="object-fit: cover;">
                          </div>
                     </div>
                     <div class="col-lg-6">
                          <div class="section-title mb-4">
                               <h5 class="position-relative d-inline-block text-primary text-uppercase">NFT Token</h5>
                               <h1 class="display-5 mb-0">The World's Best Dental Clinic That You Can Trust</h1>
                          </div>
                          <h4 class="text-body fst-italic mb-4">Diam dolor diam ipsum sit. Clita erat ipsum et lorem stet no lorem sit clita duo justo magna dolore</h4>
                          <p class="mb-4">NFTs (non-fungible tokens) are a type of cryptocurrency that can represent ownership of digital or physical assets. They are unique 
                               and cannot be replaced by another token, which makes them ideal for representing items in virtual worlds. NFTs can be used to represent anything from in-game items to digital art</p>
                          <div class="row g-3">
                               <div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-1</h5>
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-2</h5>
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-3</h5>
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-4</h5>
                               </div>
                               <div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-11</h5>
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-12</h5>
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-13</h5>
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-14</h5>
      
                               </div>
                          </div>
                     </div>
      
                </div>
                </div>
              </div>
              <!-- NFT End -->
      
              <!-- land Start -->
              <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="container bg-white">
                <div class="row g-5">
                     <div class="col-lg-8">
                          <div class="section-title mb-4">
                               <h5 class="position-relative d-inline-block text-primary text-uppercase">Meta Land</h5>
                               <h1 class="display-6 mb-0">Metahealth is a place for improving your health And the connection with patients</h1>
                          </div>
                          <p class="mb-4">SuperWorld is a virtual world in augmented reality (AR), digitally mapped over Earth. Every plot of virtual real estate in SuperWorld is a non-fungible token (NFT) that corresponds to real world space and lets users buy and sell properties, and monetize activity on their land.</p>
                          <p class="mb-4">SuperWorld is a virtual world in augmented reality (AR), digitally mapped over Earth. Every plot of virtual real estate in SuperWorld is a non-fungible token (NFT) that corresponds to real world space and lets users buy and sell properties, and monetize activity on their land.</p>
                          <p class="mb-4">SuperWorld is a virtual world in augmented reality (AR), digitally mapped over Earth. Every plot of virtual real estate in SuperWorld is a non-fungible token (NFT) that corresponds to real world space and lets users buy and sell properties, and monetize activity on their land.</p>
                          <p class="mb-4">SuperWorld is a virtual world in augmented reality (AR), digitally mapped over Earth. Every plot of virtual real estate in SuperWorld is a non-fungible token (NFT) that corresponds to real world space and lets users buy and sell properties, and monetize activity on their land.</p>
      
                     </div>
                     <div class="col-lg-4">
                          <div class="owl-carousel price-carousel wow zoomIn" data-wow-delay="0.9s">
                               <div class="price-item pb-4">
                                    <div class="position-relative">
                                    <img class="img-fluid rounded-top" src="/static/MetaModel/img/land-1.jpg" alt="">
                                    <div class="d-flex align-items-center justify-content-center bg-light rounded pt-2 px-3 position-absolute top-100 start-50 translate-middle" style="z-index: 2;">
                                         <h2 class="text-primary m-0">$35,500</h2>
                                    </div>
                                    </div>
                                    <div class="position-relative text-center bg-light border-bottom border-primary py-5 p-4">
                                    <h4>land-1</h4>
                                    <hr class="text-primary w-50 mx-auto mt-0">
                                    <div class="d-flex justify-content-between mb-3"><span>Modern Equipment</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <div class="d-flex justify-content-between mb-3"><span>Professional Dentist</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <div class="d-flex justify-content-between mb-2"><span>24/7 Call Support</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <a href="appointment.html" class="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Appointment</a>
                                    </div>
                               </div>
      
                               <div class="price-item pb-4">
                                    <div class="position-relative">
                                    <img class="img-fluid rounded-top" src="/static/MetaModel/img/land-2.jpg" alt="">
                                    <div class="d-flex align-items-center justify-content-center bg-light rounded pt-2 px-3 position-absolute top-100 start-50 translate-middle" style="z-index: 2;">
                                         <h2 class="text-primary m-0">$3,500</h2>
                                    </div>
                                    </div>
                                    <div class="position-relative text-center bg-light border-bottom border-primary py-5 p-4">
                                    <h4> land-2</h4>
                                    <hr class="text-primary w-50 mx-auto mt-0">
                                    <div class="d-flex justify-content-between mb-3"><span>Modern Equipment</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <div class="d-flex justify-content-between mb-3"><span>Professional Dentist</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <div class="d-flex justify-content-between mb-2"><span>24/7 Call Support</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <a href="appointment.html" class="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Appointment</a>
                                    </div>
                               </div>
      
                               <div class="price-item pb-4">
                                    <div class="position-relative">
                                    <img class="img-fluid rounded-top" src="/static/MetaModel/img/land-3.jpg" alt="">
                                    <div class="d-flex align-items-center justify-content-center bg-light rounded pt-2 px-3 position-absolute top-100 start-50 translate-middle" style="z-index: 2;">
                                         <h2 class="text-primary m-0">$2,000</h2>
                                    </div>
                                    </div>
                                    <div class="position-relative text-center bg-light border-bottom border-primary py-5 p-4">
                                    <h4>land-3 </h4>
                                    <hr class="text-primary w-50 mx-auto mt-0">
                                    <div class="d-flex justify-content-between mb-3"><span>Modern Equipment</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <div class="d-flex justify-content-between mb-3"><span>Professional Dentist</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <div class="d-flex justify-content-between mb-2"><span>24/7 Call Support</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <a href="appointment.html" class="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Appointment</a>
                                    </div>
                               </div>
      
                          </div>
                     </div>
                </div>
                </div>
              </div>
              <!-- land End -->
      
              <!-- Team Start -->
              <div class="container-fluid pt-5">
               <div class="container bg-white">
                 <div class="d-flex justify-content-center">
                  <div class="section-title">
                     <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Metaverse</h4>
                     <h1 class="display-4 d-flex  justify-content-center">Team</h1>
                  </div>
                 </div>
                 <div class="row">
                  <div class="col-lg-6">
                     <h1 class="mb-5">.....</h1>
                     <div class="row align-items-center mb-5">
                          <div class="col-4 col-sm-3">
                          <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/static/MetaModel/img/team-1.jpg" alt="">
                          <h5 class="menu-price">Sotware</h5>
                          </div>
                          <div class="col-8 col-sm-9">
                          <h4>name:---</h4>
                          <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                          </div>
                     </div>
                     <div class="row align-items-center mb-5">
                          <div class="col-4 col-sm-3">
                          <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/static/MetaModel/img/team-2.jpg" alt="">
                          <h5 class="menu-price">Sotware</h5>
                          </div>
                          <div class="col-8 col-sm-9">
                          <h4>name:---</h4>
                          <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                          </div>
                     </div>
                     <div class="row align-items-center mb-5">
                          <div class="col-4 col-sm-3">
                          <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/static/MetaModel/img/team-3.jpg" alt="">
                          <h5 class="menu-price">Sotware</h5>
                          </div>
                          <div class="col-8 col-sm-9">
                          <h4>name:---</h4>
                          <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                          </div>
                     </div>
                  </div>
                  <div class="col-lg-6">
                     <h1 class="mb-5">.....</h1>
                     <div class="row align-items-center mb-5">
                          <div class="col-4 col-sm-3">
                          <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/static/MetaModel/img/team-4.jpg" alt="">
                          <h5 class="menu-price">Sotware</h5>
                          </div>
                          <div class="col-8 col-sm-9">
                          <h4>name:---</h4>
                          <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                          </div>
                     </div>
                     <div class="row align-items-center mb-5">
                          <div class="col-4 col-sm-3">
                          <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/static/MetaModel/img/team-5.jpg" alt="">
                          <h5 class="menu-price">Sotware</h5>
                          </div>
                          <div class="col-8 col-sm-9">
                          <h4>name:---</h4>
                          <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                          </div>
                     </div>
                     <div class="row align-items-center mb-5">
                          <div class="col-4 col-sm-3">
                          <img class="w-100 rounded-circle mb-3 mb-sm-0" src="/static/MetaModel/img/team-6.jpg" alt="">
                          <h5 class="menu-price">Sotware</h5>
                          </div>
                          <div class="col-8 col-sm-9">
                          <h4>name:---</h4>
                          <p class="m-0">Sit lorem ipsum et diam elitr est dolor sed duo guberg sea et et lorem dolor</p>
                          </div>
                     </div>
                  </div>
                 </div>
               </div>
              </div>
              <!-- Team End -->
               
{% endblock %}