{% extends 'MetaModel/base.html' %}
{%block maindiv%} 
     
              <!-- NFT Start -->
              <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="container bg-white">
                <div class="row g-5">
                     <div class="col-lg-6" style="min-height: 100px;">
                          <div class="position-relative h-100">
                               <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="/static/MetaModel/img/NFT.jpeg" style="object-fit: cover;">
                          </div>
                     </div>
                     <div class="col-lg-6">
                          <div class="section-title mb-4">
                               <h5 class="position-relative d-inline-block text-primary text-uppercase">NFT Token</h5>
                               <h1 class="display-5 mb-0">The World's Best Dental Clinic That You Can Trust</h1>
                          </div>
                          <h4 class="text-body fst-italic mb-4">Diam dolor diam ipsum sit. Clita erat ipsum et lorem stet no lorem sit clita duo justo magna dolore</h4>
                          <p class="mb-4">NFTs (non-fungible tokens) are a type of cryptocurrency that can represent ownership of digital or physical assets. They are unique 
                               and cannot be replaced by another token, which makes them ideal for representing items in virtual worlds. NFTs can be used to represent anything from in-game items to digital art</p>
                          <div class="row g-3">
                               <div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-1</h5>
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-2</h5>
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-3</h5>
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-4</h5>
                               </div>
                               <div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-11</h5>
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-12</h5>
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-13</h5>
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-14</h5>
      
                               </div>
                          </div>
                     </div>
      
                </div>
                </div>
              </div>
              <!-- NFT End -->
      
              <!-- land Start -->
              <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="container bg-white">
                <div class="row g-5">
                     <div class="col-lg-8">
                          <div class="section-title mb-4">
                               <h5 class="position-relative d-inline-block text-primary text-uppercase">Meta Land</h5>
                               <h1 class="display-6 mb-0">Metahealth is a place for improving your health And the connection with patients</h1>
                          </div>
                          <p class="mb-4">SuperWorld is a virtual world in augmented reality (AR), digitally mapped over Earth. Every plot of virtual real estate in SuperWorld is a non-fungible token (NFT) that corresponds to real world space and lets users buy and sell properties, and monetize activity on their land.</p>
                          <p class="mb-4">SuperWorld is a virtual world in augmented reality (AR), digitally mapped over Earth. Every plot of virtual real estate in SuperWorld is a non-fungible token (NFT) that corresponds to real world space and lets users buy and sell properties, and monetize activity on their land.</p>
                          <p class="mb-4">SuperWorld is a virtual world in augmented reality (AR), digitally mapped over Earth. Every plot of virtual real estate in SuperWorld is a non-fungible token (NFT) that corresponds to real world space and lets users buy and sell properties, and monetize activity on their land.</p>
                          <p class="mb-4">SuperWorld is a virtual world in augmented reality (AR), digitally mapped over Earth. Every plot of virtual real estate in SuperWorld is a non-fungible token (NFT) that corresponds to real world space and lets users buy and sell properties, and monetize activity on their land.</p>
      
                     </div>
                     <div class="col-lg-4">
                          <div class="owl-carousel price-carousel wow zoomIn" data-wow-delay="0.9s">
                               <div class="price-item pb-4">
                                    <div class="position-relative">
                                    <img class="img-fluid rounded-top" src="/static/MetaModel/img/land-1.jpg" alt="">
                                    <div class="d-flex align-items-center justify-content-center bg-light rounded pt-2 px-3 position-absolute top-100 start-50 translate-middle" style="z-index: 2;">
                                         <h2 class="text-primary m-0">$35,500</h2>
                                    </div>
                                    </div>
                                    <div class="position-relative text-center bg-light border-bottom border-primary py-5 p-4">
                                    <h4>land-1</h4>
                                    <hr class="text-primary w-50 mx-auto mt-0">
                                    <div class="d-flex justify-content-between mb-3"><span>Modern Equipment</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <div class="d-flex justify-content-between mb-3"><span>Professional Dentist</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <div class="d-flex justify-content-between mb-2"><span>24/7 Call Support</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <a href="appointment.html" class="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Appointment</a>
                                    </div>
                               </div>
      
                               <div class="price-item pb-4">
                                    <div class="position-relative">
                                    <img class="img-fluid rounded-top" src="/static/MetaModel/img/land-2.jpg" alt="">
                                    <div class="d-flex align-items-center justify-content-center bg-light rounded pt-2 px-3 position-absolute top-100 start-50 translate-middle" style="z-index: 2;">
                                         <h2 class="text-primary m-0">$3,500</h2>
                                    </div>
                                    </div>
                                    <div class="position-relative text-center bg-light border-bottom border-primary py-5 p-4">
                                    <h4> land-2</h4>
                                    <hr class="text-primary w-50 mx-auto mt-0">
                                    <div class="d-flex justify-content-between mb-3"><span>Modern Equipment</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <div class="d-flex justify-content-between mb-3"><span>Professional Dentist</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <div class="d-flex justify-content-between mb-2"><span>24/7 Call Support</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <a href="appointment.html" class="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Appointment</a>
                                    </div>
                               </div>
      
                               <div class="price-item pb-4">
                                    <div class="position-relative">
                                    <img class="img-fluid rounded-top" src="/static/MetaModel/img/land-3.jpg" alt="">
                                    <div class="d-flex align-items-center justify-content-center bg-light rounded pt-2 px-3 position-absolute top-100 start-50 translate-middle" style="z-index: 2;">
                                         <h2 class="text-primary m-0">$2,000</h2>
                                    </div>
                                    </div>
                                    <div class="position-relative text-center bg-light border-bottom border-primary py-5 p-4">
                                    <h4>land-3 </h4>
                                    <hr class="text-primary w-50 mx-auto mt-0">
                                    <div class="d-flex justify-content-between mb-3"><span>Modern Equipment</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <div class="d-flex justify-content-between mb-3"><span>Professional Dentist</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <div class="d-flex justify-content-between mb-2"><span>24/7 Call Support</span><i class="fa fa-check text-primary pt-1"></i></div>
                                    <a href="appointment.html" class="btn btn-primary py-2 px-4 position-absolute top-100 start-50 translate-middle">Appointment</a>
                                    </div>
                               </div>
      
                          </div>
                     </div>
                </div>
                </div>
              </div>
              <!-- land End -->
      
{% endblock %}