{% extends 'MetaModel/base.html' %}
{%block maindiv%} 

              <!-- slider start -->
              <section id="home" class="slider " data-stellar-background-ratio="0.5">
                
                <div class="row ">
      
                     <div class="owl-carousel owl-theme ">
                          <div class="item item-first">
                               <div class="caption">
                                    <div class="col-md-offset-1 col-md-10">
                                         <h3>Let's make your life happier</h3>
                                         <h1>Healthy Living</h1>
                                         <a href="#team" class="section-btn btn btn-default smoothScroll">Meet Our Doctors</a>
                                    </div>
                               </div>
                          </div>
      
                          <div class="item item-second">
                               <div class="caption">
                                    <div class="col-md-offset-1 col-md-10">
                                         <h3>Aenean luctus lobortis tellus</h3>
                                         <h1>New Lifestyle</h1>
                                         <a href="#about" class="section-btn btn btn-default btn-gray smoothScroll">More About Us</a>
                                    </div>
                               </div>
                          </div>
      
                          <div class="item item-third">
                               <div class="caption">
                                    <div class="col-md-offset-1 col-md-10">
                                         <h3>Pellentesque nec libero nisi</h3>
                                         <h1>Your Health Benefits</h1>
                                         <a href="#news" class="section-btn btn btn-default btn-blue smoothScroll">Read Stories</a>
                                    </div>
                               </div>
                          </div>

                     </div>
      
                </div>
                
                <div class="col-md-12 col-sm-7">
                  <div class="section-title ">
                       <br>
                       <h5 class="position-relative d-inline-block text-primary text-uppercase">Meta Land</h5>
                  </div>
                  <p class="mb-4">SuperWorld is a virtual world in augmented reality (AR), digitally mapped over Earth. Every plot of virtual real estate in SuperWorld is a non-fungible token (NFT) that corresponds to real world space and lets users buy and sell properties, and monetize activity on their land.</p>
                  <p class="mb-4">SuperWorld is a virtual world in augmented reality (AR), digitally mapped over Earth. Every plot of virtual real estate in SuperWorld is a non-fungible token (NFT) that corresponds to real world space and lets users buy and sell properties, and monetize activity on their land.</p>
                  <p class="mb-4">SuperWorld is a virtual world in augmented reality (AR), digitally mapped over Earth. Every plot of virtual real estate in SuperWorld is a non-fungible token (NFT) that corresponds to real world space and lets users buy and sell properties, and monetize activity on their land.</p>
                  <p class="mb-4">SuperWorld is a virtual world in augmented reality (AR), digitally mapped over Earth. Every plot of virtual real estate in SuperWorld is a non-fungible token (NFT) that corresponds to real world space and lets users buy and sell properties, and monetize activity on their land.</p>

                </div>

              </section>
              <!-- slider End -->

              <!-- Category start -->
              <section id="news-detail" data-stellar-background-ratio="0.5">
                <div class="container bg-white ">
                     <div class="row">
      
                          <div class="col-md-12 col-sm-7">
                               <!-- NEWS THUMB -->
                               <div class="row">
                                    <h4>Categories</h4>
                               </div>
                               <div class="news-detail-thumb">
                                    <div class="news-image">
                                         <img src="/static/MetaModel/img/news-image3.jpg" class="img-responsive" alt="">
                                    </div>
                                    <h3>Review Annual Medical Research</h3>
                                    <p>Aenean molestie porttitor lorem sed semper. Aliquam semper iaculis libero, eu finibus ex euismod at. In molestie justo ut egestas porttitor. Phasellus interdum erat eu lectus condimentum euismod. Sed pellentesque fringilla diam vitae congue. Ut rutrum diam nisi, in maximus felis vulputate vitae.</p>
                                    <blockquote>Vestibulum gravida rutrum est non volutpat. Morbi imperdiet odio ut tempor vestibulum. Mauris tincidunt vehicula nibh, sodales vehicula erat imperdiet ut.</blockquote>
                                    <p>Maecenas eu lorem gravida nisi aliquam porta. Etiam eu tellus enim. Vivamus ligula ex, iaculis a sodales et, placerat eget neque. In porttitor tortor in purus commodo lobortis. Nullam ornare quam ac turpis luctus, commodo facilisis nisi venenatis. Cras a posuere risus.</p>
                                    
                                    <ul>
                                         <li>Phasellus posuere nisi eleifend, vestibulum ipsum eleifend</li>
                                         <li>Nulla sapien neque, posuere vitae porta eu</li>
                                         <li>Fusce quis enim vel libero pulvinar gravida sed eu justo</li>
                                    </ul>
      
                                    <p>Nunc eget ex sed nisl rhoncus lacinia. Vestibulum porta lectus at est placerat, nec commodo purus dignissim. Suspendisse ac quam in metus laoreet auctor ac quis enim.</p>
      
                               </div>
                               <div class="news-categories">
                                    <h4>Categories</h4>
                                         <li><a href="#"><i class="fa fa-angle-right"></i> Dental</a></li>
                                         <li><a href="#"><i class="fa fa-angle-right"></i> Cardiology</a></li>
                                         <li><a href="#"><i class="fa fa-angle-right"></i> Health</a></li>
                                         <li><a href="#"><i class="fa fa-angle-right"></i> Consultant</a></li>
                               </div>
                          </div>
      
                     </div>
                </div>
              </section>
              <!-- category End -->
              
              <!-- NFT Start -->
              <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
                <div class="container bg-white">
                <div class="row g-5">
                     <div class="col-lg-6" style="min-height: 100px;">
                          <div class="position-relative h-100">
                               <img class="position-absolute w-100 h-100 rounded wow zoomIn" data-wow-delay="0.9s" src="/static/MetaModel/img/NFT.jpeg" style="object-fit: cover;">
                          </div>
                     </div>
                     <div class="col-lg-6">
                          <div class="section-title mb-4">
                               <h5 class="position-relative d-inline-block text-primary text-uppercase">NFT Token</h5>
                               <h1 class="display-5 mb-0">The World's Best Dental Clinic That You Can Trust</h1>
                          </div>
                          <h4 class="text-body fst-italic mb-4">Diam dolor diam ipsum sit. Clita erat ipsum et lorem stet no lorem sit clita duo justo magna dolore</h4>
                          <p class="mb-4">NFTs (non-fungible tokens) are a type of cryptocurrency that can represent ownership of digital or physical assets. They are unique 
                               and cannot be replaced by another token, which makes them ideal for representing items in virtual worlds. NFTs can be used to represent anything from in-game items to digital art</p>
                          <div class="row g-3">
                               <div class="col-sm-6 wow zoomIn" data-wow-delay="0.3s">
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-1</h5>
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-2</h5>
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-3</h5>
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-4</h5>
                               </div>
                               <div class="col-sm-6 wow zoomIn" data-wow-delay="0.6s">
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-11</h5>
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-12</h5>
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-13</h5>
                                    <h5 class="mb-3"><i class="fa fa-check-circle text-primary me-3"></i>feature-14</h5>
      
                               </div>
                          </div>
                     </div>
      
                </div>
                </div>
              </div>
              <!-- NFT End -->           

      {% endblock %}